h1, h2, h3 {
	margin: 0px;
}

input[type="submit"]{
}

input[type="submit"]:hover{
	background-color: #E6E6E6;
}
.btn {
	border-radius: 0px;
}
.modal {
	z-index: 500;
}
.modal-content{
	border-radius: 0px;
}
.modal-backdrop.in {
	z-index: 400;
}


/* PAGE D'ACCUEIL */
.menu {
	background: black;
	color: white;
	height: 70px;
	border-bottom: 2px solid #6699ff;
}
footer {
	color: white;
	background-color: black;
	height: 20px;
}
.login_btn {
	float: right;
}


/* CORPS */

div.body{
	margin-top: 60px;
}