h1, h2, h3 {
	margin: 0px;
}

input[type="submit"]{
}

input[type="submit"]:hover{
	background-color: #E6E6E6;
}

<<<<<<< HEAD

/* PAGE D'ACCUEIL */
.menu {
	background: black;
	color: white;
	height: 70px;
	border-bottom: 2px solid #6699ff;
=======
footer.footer{
	background-color: black;
>>>>>>> origin/master
}


/* CORPS */

div.body{
	margin-top: 60px;
}

/* PAGE D'ACCUEIL */
