h1, h2, h3 {
	margin: 0px;
}

.btn {
	border-radius: 0px;
}



/* PAGE D'ACCUEIL */
.menu {
	background: black;
	color: white;
	height: 70px;
	border-bottom: 2px solid #6699ff;
}
.menu .site_title {
	line-height: 70px;
	padding-left: 15px;
	padding-right: 15px;
	background: #6699ff;
	width: 150px;
	text-align: center;
}
